@import "tailwindcss";

body {
  margin: 0;
  padding: 32px 32px;
  background-color: #f8fafc;
  color: #1e293b;
  font-family: Arial, sans-serif;
}

/* ====================
   見出し
==================== */

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e3a8a;
  margin-top: 0;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1e40af;
  margin-top: 5px;
  margin-bottom: 8px;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #2563eb;
  margin-top: 3px;
  margin-bottom: 5px;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
}


/* ====================
   カード・枠
==================== */

.card {
  background-color: white;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
}


/* ====================
   リンク
==================== */

.link {
  color: #2563eb;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}


/* ====================
   ボタン
==================== */


button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}